<template>
  <div class="relative inline-block w-full">
    <div
      class="bg-white divide-y divide-gray-100 rounded-md shadow-md ring-1 ring-black ring-opacity-5"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
    >
      <a
        v-for="color in colors"
        :key="color"
        href="#"
        class="flex items-center px-4 py-2 text-sm text-gray-700 capitalize group hover:bg-gray-100 hover:text-gray-900"
        :class="getClasses(color)"
        role="menuitem"
        @click="$emit('selected', color)"
      >
        <div
          class="w-5 h-5 mr-3 rounded-full ring-1 ring-offset-2 ring-gray-200"
          :class="color.class"
          aria-hidden="true"
        ></div>
        {{ color.name }}
      </a>
    </div>
  </div>
</template>

<script setup>
import { ref, defineProps } from 'vue'

const props = defineProps({
  selectedColor: { type: Object, required: true },
})

const colors = ref([
  {
    name: 'transparent',
    class: 'bg-transparent',
    active: 'bg-gray-100',
  },
  {
    name: 'black',
    class: 'bg-black',
    active: 'bg-gray-100',
  },
  {
    name: 'white',
    class: 'bg-white',
    active: 'bg-gray-100',
  },
  {
    name: 'red',
    class: 'bg-red-500',
    active: 'bg-red-400',
  },
  {
    name: 'orange',
    class: 'bg-yellow-500',
    active: 'bg-yellow-400',
  },
  {
    name: 'yellow',
    class: 'bg-yellow-300',
    active: 'bg-yellow-200',
  },
  {
    name: 'brown',
    class: 'bg-yellow-900',
    active: 'bg-yellow-800',
  },
  {
    name: 'blue',
    class: 'bg-blue-700',
    active: 'bg-blue-600',
  },
  {
    name: 'green',
    class: 'bg-green-700',
    active: 'bg-green-600',
  },
])

function colorClass(color) {
  const bgColor = ['black', 'white'].includes(color)
    ? `bg-${color}`
    : `bg-${color}-500`

  const activeColor = ['black', 'white'].includes(color)
    ? `bg-gray-100`
    : `bg-${color}-100`

  return { name: color, class: bgColor, active: activeColor }
}

function getClasses(color) {
  if (isActive(color)) return `${color.active} hover:${color.active}`
}

function isActive({ name }) {
  return props.selectedColor.name === name
}
</script>
