<template>
  <div
    class="grid max-w-screen-md grid-cols-1 p-4 mx-auto sm:gap-8 sm:grid-cols-4"
  >
    <div class="inline-flex flex-col items-center">
      <label for="location" class="block text-sm font-medium text-gray-700"
        >Load an example</label
      >
      <select
        id="location"
        name="location"
        class="block w-full py-2 pl-3 pr-10 mt-1 mb-3 text-base border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        v-model="selectedExample"
        @change="loadExample"
      >
        <option
          v-for="example in exampleList"
          :key="example.name"
          :value="example"
        >
          {{ example.name }}
        </option>
      </select>
      <colors-drop-down
        :selected-color="currentColor"
        @selected="onSelectColor"
      />
      <button
        type="button"
        class="inline-flex justify-center w-full px-3 py-2 mt-2 text-sm font-medium leading-4 text-white bg-green-600 border border-transparent rounded-md shadow-sm shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        @click="saveValues"
      >
        Save
      </button>
      <button
        type="button"
        class="inline-flex justify-center w-full px-3 py-2 mt-2 text-sm font-medium leading-4 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm shadow-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        @click="resetValues"
      >
        Reset
      </button>
      <button
        type="button"
        class="inline-flex justify-center w-full px-3 py-2 mt-2 text-sm font-medium leading-4 text-white bg-indigo-600 border border-transparent rounded-md shadow-sm shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        @click="renderIcon"
      >
        Render
      </button>
      <div
        class="self-center block p-4 mt-8 bg-white border-2 border-indigo-500 rounded-lg"
      >
        <canvas id="bitIcon" width="80" height="80"></canvas>
      </div>
    </div>
    <div class="col-span-3 mt-8 sm:mt-0">
      <div class="border border-t-0 border-gray-300">
        <div
          v-for="(row, i) in grid"
          :key="i"
          class="grid divide-x divide-gray-300 grid-cols-16"
        >
          <div
            v-for="col in row"
            :key="col.id"
            :class="`${col.class} hover:${col.active}`"
            class="border-t border-gray-300 bit"
            draggable="false"
            @mousedown.prevent="changeColor(col)"
            @mouseover="onMouseOver(col, $event)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { watchEffect, ref } from 'vue'
import ColorsDropDown from './components/ColorsDropdown.vue'
import examples from './examples'

const exampleList = ref(examples.sort((a, b) => a.name.localeCompare(b.name)))

const currentColor = ref({
  name: 'black',
  class: 'bg-black',
  active: 'bg-gray-100',
})

const row = () =>
  new Array(16).fill().map((_, i) => ({
    id: i,
    class: 'bg-transparent',
    active: 'bg-gray-100',
  }))
const initValues = () => new Array(16).fill().map(row)
const localValues =
  localStorage.getItem('values') && JSON.parse(localStorage.getItem('values'))
const selectedExample = ref({ values: initValues() })

const grid = ref(localValues || initValues())

function changeColor(col) {
  Object.assign(col, currentColor.value)
}

function onSelectColor(color) {
  currentColor.value = color
}

function saveValues() {
  localStorage.setItem('values', JSON.stringify(grid.value))
}

function resetValues() {
  grid.value = initValues()
}

function onMouseOver(color, { buttons }) {
  if (buttons > 0) changeColor(color)
}

function loadExample() {
  grid.value = JSON.parse(selectedExample.value.values)
}

function twToCss(color) {
  switch (color) {
    case 'black':
      return '#000'
    case 'white':
      return '#FFF'
    case 'red':
      return '#EF4444'
    case 'orange':
      return '#F59E0B'
    case 'yellow':
      return '#FCD34D'
    case 'brown':
      return '#78350F'
    case 'blue':
      return '#1D4ED8'
    case 'green':
      return '#047857'
    default:
      return 'transparent'
  }
}

function renderIcon() {
  const A = grid.value.map((row, i) => row.map(({ name }) => twToCss(name)))
  const canvas = document.getElementById('bitIcon')
  if (!canvas) return

  const ctx = canvas.getContext('2d')
  const width = A[0].length
  const height = A.length
  const scale = 5

  ctx.clearRect(0, 0, canvas.width, canvas.height)

  for (let row = 0; row < height; row++) {
    for (let col = 0; col < width; col++) {
      ctx.fillStyle = A[row][col]
      ctx.fillRect(col * scale, row * scale, scale, scale)
    }
  }
}
</script>

<style>
body {
  @apply bg-gray-200;
}

.bit-container {
}

.bit {
  padding-top: 100%;
}
</style>
